.create__campaign{
    overflow: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.create__campaign__container{
    height: fit-content;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
}


.campaign__name,
.create__campaign__priority__dropdown,
.create__campaign__workflow__name,
.create__campaign__campaign__type__radio__button,
.cli__container{
    width: 30%;
    height: fit-content;
    margin: .5rem;
}

.submitJob{
    padding:".5rem 1rem" !important;
      border:"none" !important;
      outline: none !important;
      background-color: #374151;
      color: white;
      text-shadow: 1px 1px 2px grey;
}

.submitJob:hover{
    cursor: pointer;
    transform: scale(1.1);
}